.vs-button {
    position: absolute;
    width:10%;
    top: 40%;
    left: 45%;
    size-adjust: 30%;
    cursor: pointer;
}
#game-intro {
    background-image: url('./images/ga.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Set the height of the body to the full viewport height */
    display: flex; /* Center the content vertically and horizontally */
    justify-content: center;
    align-items: center;
  }
  
  #instructions{
    position:absolute;
    top:60%;
    text-align: center;
    left:34%;
  }
  #game-container {
    display: flex;
    /* width: 100vw; */
    padding: 10px 0px;
    justify-content: center;
    font-size:larger;
    flex-direction: column;
    align-items: center;
    display:none;
  }
  
  #game-screen {
    background-image: url("./images/ground.gif");
    background-size: cover;
    background-position: center;
    left:42%;
    background-repeat:no-repeat;
    display:none;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  #oil{
    width:35px;
    height:52px;
    position: relative;
    top:160px;
    left:570px;

    background-image: url("images/diddyoil.png");
    background-size:40px 60px;

    animation: diddygneoow 1.5s infinite linear;
  }
  @keyframes diddygneoow {
    0%{
      left:570px;
    }
    100%{
      left:-10px;
    }
    
  }

  #game-end {
    display: none;
  }
  .jump{
    animation: jump 0.4s linear
  }

  @keyframes jump {
    0% {
      top:150px;
    }
    30% {
      top:115px;
    }
    50%{
      top:50px;
    }
    80%{
      top:115px;
    }
    100%{
      top:150px;
    }

  }
  